.App{
  font-family: 'Poppins', sans-serif;
}

.main-box{
  background: none;
  height: 6rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.margin-box{
  /* background-color: black; */
  width: 60%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items{
  display: flex;
  list-style: none;
}

.nav-items > *{
  cursor: pointer;
  padding: 0.5rem;
  margin: 0 .5rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img{
  height: 3rem;
}

.logo > span{
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}
.hero-img{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-img > div{
  background: url('./Assets/hero-bg.jpg') center;
  height: 100%;
}